.logo{
    width: 64px;
}
.body{
    background: #ff33ff;
}
.main{
    background:coral;
    width: 730px;
    margin: 0 auto;
    overflow: hidden;
    padding: 10px;
}
.page-title{
    text-align: center;
}