{% extends 'base.html' %}
{% block title %}
    首页
{% endblock %}

{% block main %}

    <h3 class="page-title"> 测试机管理页面首页</h3>
    <div style="text-align: right">
        <a class="btn btn-primary" href="{{ url_for('add_machine') }}">添加测试机器</a>
    </div>
    <table class="table table-hover">
        <thead>
            <tr class="info">
                <th>编号</th>
                <th>设备型号</th>
                <th>操作系统</th>
                <th>操作系统版本号</th>
                <th>颜色</th>
                <th>管理员</th>
                <th>借出人</th>
                <th>借出时长</th>
                <th>操作</th>
            </tr>
        </thead>

        <tbody>
        {% for machine in machines %}
            <tr class="machine">
                <td>{{ machine.id }}</td>
                <td>{{ machine.name }}</td>
                {% if machine.operating_system == "0" %}
                    <td>苹果</td>
                {% elif machine.operating_system == "1" %}
                    <td>安卓</td>
                {% else %}
                    <td>其他</td>
                {% endif %}
                <td>{{ machine.operating_system_version }}</td>
                {% if machine.color == 0 %}
                    <td>白色</td>
                {% elif machine.color == 1 %}
                    <td>黑色</td>
                {% elif machine.color == 2 %}
                    <td>金色</td>
                {% else %}
                    <td>其他颜色</td>
                {% endif %}
                <td>{{ machine.custodian.username }}</td>
                {% if machine.lender == "--" %}
                    <td>--</td>
                {% else %}
                    <td>{{ machine.lender }}</td>
                <td>--</td>
                {% endif %}
                <td>--</td>
                <td>
                    {% if current_user.id == machine.custodian_id %}
                        <button class="btn btn-default" disabled ="disabled">借出</button>
                    {% else %}
                        <button class="btn btn-primary" data-toggle="modal" data-target="#myModal">
                            借出
                        </button>
                        <!-- 模态框（Modal） -->
                        <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                            <div class="modal-dialog">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
                                            &times;
                                        </button>
                                        <h4 class="modal-title" id="myModalLabel">
                                            借出提醒
                                        </h4>
                                    </div>
                                    <div class="modal-body">
                                        确认要借出{{ machine.name }}测试机嘛？
                                    </div>
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-default" data-dismiss="modal">取消
                                        </button>
                                        <button type="button" class="btn btn-primary">
                                            借出
                                        </button>
                                    </div>
                                </div><!-- /.modal-content -->
                            </div><!-- /.modal -->
                        </div>
                    {% endif %}
                </td>

            </tr>
        {% endfor %}
        </tbody>
    </table>

{% endblock %}